<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Abhishek Shastri</title>
  <link rel="stylesheet" href="assets/stylesheet/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>
<body>
  <div class="container">
    <header>

      <a href="#"><img src="assets/media/logo.png" alt="logo" class="logo__img"></a>
      <nav>
        <ul>
          <li><a href="#">Home</li></a> 
          <li><a href="#about">About</li></a> 
          <li><a href="#">Blog</li></a> 
          <li><a href="#">Projects</li></a> 
          <li><a href="#">Contact</li></a> 
        </ul>
      </nav>
    </header>
    <main>
      <div class="hero">
        <span><h2>Hi, I am <strong>Abhishek Shastri</strong>.</h2>
        <h5>Front-End Web developer</h5></span>
        <div class="media__icon">
          <div class="media__item">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="media__item">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="media__item">
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
      </div>
      <section class="wrapper about" id="about">
        <!-- <div class="head__border"></div>
        <div class="head__border2"></div> -->
        <h2 class="about__header text-center">About Me</h2>
        <div class="about__me">
          <div class="about__img">
            <img src="assets/media/profile_pic.png" alt="" class="about__img__item">
            <p class="my__details">A front-end Web Developer, living in Rakkar, Himachal Pradesh. I Love making new things. </p>

          </div>
          <div class="about__details">
            <ul>
              <li><span>Name</span>: Abhishek Shastri</li>
              <li><span>Email</span>: shastri48@gmail.com</li>
              <li><span>Phone</span>: 7277891789</li>
              <li><span>Website</span>: shastri48.github.io</li>
              <li><span>Address</span>: Rakkar, Himachal Pradesh</li>
            </ul>            
          </div>
        </div>
      
      </section>
      <section class="wrapper skills">
        <!-- <div class="head__border"></div>
        <div class="head__border2"></div> -->
        <h2 class="skill__header text-center">My Skills</h2>
        <div class="skill__item html">
          <h3 class="percent">90%</h3>
          <span>HTML5</span>
        </div>
        <div class="skill__item css">
          <h3 class="percent">80%</h3>
          <span>CSS3</span>
        </div>
        <div class="skill__item sass">
          <h3 class="percent">70%</h3>
          <span>SASS</span> 
        </div>
       


      </section>
      <section class="wrapper projects">
        <!-- <div class="head__border"></div>
        <div class="head__border2"></div> -->
        <!-- <h2 class="about__header text-center">My Projects</h2> -->
        <h2 class="project__header text-center">My Projects</h2>
        <div class="my__projects">
          <div class="project__item">
            <img src="assets/media/p1.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p2.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p3.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p4.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p5.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p6.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p7.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p8.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p9.png" alt="" class="project__item2">
          </div>
          <div class="project__item">
            <img src="assets/media/p10.png" alt="" class="project__item2">
          </div>
        </div>
      </section>
    </main>
    <footer>
      <h2>Contact Me</h2>
      <div class="contact__me">
        <div class="contact">
          <h2>Contact</h2>
          <h3>Mail me: shastri48@gmail.com</h3>
        </div>
        <div class="address">
          <h2>Address</h2>
          <p>Rakkar, Dharamshala. Himachal Pradesh</p>
        </div>
      </div>
      <div class="footer">
        <small>Copyright &copy; 2018|All Rights Reserved
        </small>
      </div>
    </footer>
  </div>
</body>
</html>