.site-header {padding-bottom: 0;}
body {background: #fff;}
body, button, input, select, optgroup, textarea, .main-navigation, .site-title, .site-footer, .site-description, .site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation, .rssSummary, h1, h2, h3, h4, h5, h6 {font-family: "Poppins",sans-serif;}
.main-navigation ul li > a, .site-description, .header-last-item .search-wrap i, header .header-last-item .cart-wrapper a {color: #022144;font-size: 15px;font-weight: 500;}
.me-heading h2.elementor-heading-title:before {content: "";width: 100px;height: 2px;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);background: #fec110;}
.me-heading h2.elementor-heading-title:after {content: "";width: 60px;height: 2px;position: absolute;bottom: -5px;left: 50%;transform: translateX(-50%);background: #fec110;}
input.wpcf7-form-control:not(.wpcf7-submit), textarea.wpcf7-form-control.wpcf7-textarea {text-align: left;}
.header-last-item {margin-left: 25px;}
.site-footer {font-size: 14px;}
.site-footer .ftr-widget.footer-2 {padding: 0 20px 0 0;}
.acf7-first-wrapp p {float: left;width: 50%;}
input.wpcf7-form-control:not(.wpcf7-submit), textarea.wpcf7-form-control.wpcf7-textarea {max-width: 100%;}
.acf7-first-wrapp p {display: inline-block;width: 45%;margin-right: 2%;}
textarea.wpcf7-form-control.wpcf7-textarea {height: 100px;}
.site-footer p {font-size: 14px;font-weight: 400;line-height: 27px !important;}